*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

section{
    position: relative;
}
section::before{
    content: '';
    border-bottom-left-radius: 260% 100%;
    border-bottom-right-radius: 260% 100%;
    position: absolute;
    bottom: 1;
    z-index: -1;
    width: 100%;
    height: 150%;
    background: rgb(250, 242, 242); 
}
.bar::after{
    content: '';
    border-bottom-left-radius: 560% 100%;
    border-bottom-right-radius: 560% 100%;
    position: absolute;
    bottom: 1;
    z-index: -1;
    width: 100%;
    height: 73%;
    background-color: rgb(18, 3, 53);
}

nav{
    height: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-inline: 55px;
    color: aliceblue;
}

nav ul:nth-child(1){
    font-size: 25px;
}

ul span{
 font-weight: 600;
}

nav ul:nth-child(2){
    color: aliceblue;
    border-bottom: 3px solid lightgreen;
}

/* head section */
.data {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: aliceblue;
}

.data p{
    font-size: 40px;
}

.tail{
    border-bottom: 2px solid lightgreen;
}

.data a{
    text-decoration: none;
    border: 1px solid ;
    background: rgb(25, 216, 25);
    color: black;
    display: block;
    width: fit-content;
    padding: 5px;
}

.data img{
    width: 20%;
}

/* body */
article{
   display: flex;
   justify-content: center;
   column-gap: 25px;
   height: 5px;
   counter-reset: step-counter;
}


.action{
    width: 20%;
    text-align: center;   
}

h5{
    counter-increment: step-counter 1;
}

.action h5::before{
    content: counter(step-counter);
    border-radius: 100%;
    border: 1px solid;
    text-align: center;
    padding: 5px;
}

.action h5{
    margin: 35px;
}

.action >*{
    margin-block: 10px;
}

/* footer 1  */

.cap img{
    width: 250px;
    height: 250px;
    background-color: rgb(25, 216, 25);
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    left: 30px;
    bottom: 65px;
    z-index: 1;
}

/* indexed footer */
.first{
    background-color: rgb(1, 1, 32);
    position: relative;
    z-index: 1;
    color: aliceblue;
    width: 38%;
    padding: 5px 10px 15px 10px;
}

.first > *{
    margin-block: 15px;
    padding: 10px;
}

.first h4{
    font-size: xx-large;
}

.first a{
    text-decoration: none;
    border: 1px solid ;
    background: rgb(25, 216, 25);
    color: black;
    display: block;
    width: fit-content;
    padding: 5px;
    margin-bottom: 0px;
}

.footy{
    width: 100%;
    margin: 280px 0 25px 0;
    padding-inline: 65px;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: end;
    position: relative;
}

.foot {
    width: 100%;
    margin: 5px auto;
    text-align: center;
}
.foot p{
    margin-bottom: 15px;
    font-size: 20px;
}

.foot span{
    font-weight: 600;
}

.foot img{
    width: 20px;
    margin: 10px 10px 10px 25px;
}

@media screen and (max-width: 450px){
    section::before{
        content: '';
        border-bottom-left-radius: 890% 100%;
        border-bottom-right-radius: 890% 100%;
        bottom: 1;
        z-index: -1;
        width: 100%;
        height: 240%;
        background: rgb(250, 242, 242); 
    }

    article{
        display: block;
        width: 80%;
        margin: 0 auto;
     }

     .footy{
        height: 750px;
        position: relative;
     }

     .cap img{
        width: 250px;
        height: 250px;
        background-color: rgb(25, 216, 25);
        border-radius: 50%;
        position: absolute;
        left: 130px;
        bottom: 210px;
        z-index: 1;
    }
    
    /* indexed footer */
    .first{
        text-align: center;
        background-color: rgb(1, 1, 32);
        position: relative;
        z-index: 1;
        color: aliceblue;
        width: 400px;
        left: 10px;
        padding: 5px 10px 15px 10px;
    }

    .first a{
       margin: 0 auto;
    }
} 


 @media screen and (min-width:760px) and (max-width: 880px) {
    section::before{
        content: '';
        border-bottom-left-radius: 890% 100%;
        border-bottom-right-radius: 890% 100%;
        bottom: 1;
        z-index: -1;
        width: 100%;
        height: 220%;
        background: rgb(250, 242, 242); 
    }

    article{
        display: block;
        width: 80%;
        margin: 0 auto;
     }
 
     .footy{
        height: 710px;
        position: relative;
     }

     .cap img{
        width: 250px;
        height: 250px;
        background-color: rgb(25, 216, 25);
        border-radius: 50%;
        position: absolute;
        left: 130px;
        bottom: 150px;
        z-index: 1;
    }

    .first{
        background-color: rgb(1, 1, 32);
        position: relative;
        z-index: 1;
        color: aliceblue;
        width: 65%;
        padding: 10px 20px 35px 25px;
        left: 95px;
        bottom: -5px;
    }
} 
